.cover__subtitle {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    width: 32%;
    margin: 0 auto;
    z-index: 3;
}

@media screen and (max-width: 1250px) {
    .cover__subtitle {
        width: 35%;
    }
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        width: 46%;
    }
}

@media screen and (max-width: 530px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        width: 80%;
    }
}