.cover__subtitle {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    color: #fff;
    width: 32%;
    margin: 0 auto;
    z-index: 2;
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        width: 46%;
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        font-size: 14px;
        width: 90%;
    }
}