.intro {
    padding-bottom: 92px;
}

@media screen and (max-width: 768px) {
    .intro {
        padding-bottom: 84px;
    }
}

@media screen and (max-width: 420px) {
    .intro {
        padding-bottom: 64px;
    }
}