.lead__subtitle {
    margin: 0 auto 64px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.2;
    color: #fff;
    text-align: center;
    width: 50%;
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        font-size: 16px;
        width: 90%;
    }
}