.cover {
    background-image: url(../../images/cover__background.png);
    min-height: 740px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 90%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 1024px) {
    .cover {
        width: 100%;
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        min-height: 480px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        min-height: 200px;
    }
}