.place {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr minmax(min-content, max-content);
    gap: 48px 40px;
    width: 80%;
    margin: 0 auto 80px;
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        width: 90%;
    }
}

@media screen and (max-width: 615px) {
    .place {
        grid-template-columns: 1fr;
    }
}


@media screen and (max-width: 320px) {
    .place {
        /* grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr; */

    }
}

