.place {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr minmax(min-content, max-content);
    gap: 48px 28px;
    width: 80%;
    margin: 0 auto 80px;
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        width: 90%;
        grid-template-columns: 1fr 460px;
    }
}

@media screen and (max-width: 912px) {
    .place {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .place {
        grid-template-columns: 1fr 335px;
    }
}

@media screen and (max-width: 615px) {
    .place {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 320px) {
    .place {
        gap: 32px;
        width: 100%;
    }
}



