.lead__img-wrapper {
    width: 77%;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .lead__img-wrapper {
        max-width: 928px;
        max-height: 580px;
        width: 100%;
    }
}
