.intro__title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #fff;
    width: 80%;
    margin: 0 auto 40px;
}

@media screen and (max-width: 1024px) {
    .intro__title {
        width: 90%;
    }
}

@media screen and (max-width: 530px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
}

@media screen and (max-width: 320px) {
    .intro__title {
        box-sizing: border-box;
        padding-right: 40px;
    }
}
